
@{
    ViewBag.Title = "CreateService";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Hizmet ekleme sayfası</h2>

<form method="post">
    <label>Hizmet Açıklaması</label>
    <textarea rows="4" class="table table-bordered" name="Description"></textarea>
    <br />
    <label> Hizmet Resim Yolu</label>
    <input type="text" class="table table-bordered" name="ImageUrl" />
    <br />
    <label>Title</label>
    <input type="text" class="table table-bordered" name="Title" />
    <br />
    <button class="btn btn-info">Hizmeti Kaydet</button>
</form>